body{
    padding: 0%;
    margin: 0%;
    font-family: inter;
    color: #333;
}
.container{
    display: flex;
    color: #333;
}
.Credit{
    flex: 1;  
  padding: 10px; 
  padding: 2.6%;
}
.Credit input{
    display: inline-flex;
    padding: 10px;
    width: auto;
}
.Credit button{
    display: inline-flex;
    padding: 10px;
    width: auto;
}
.Debit{
    flex: 1; 
    padding: 10px; 
    padding: 2.6%;

}
.Debit input{
    display:inline-flex; 
    padding: 10px;
    width: auto;
}
.Debit button{
    display: inline-flex;
    padding: 10px;
    width: auto;
}
.Table{
    display:inline-table;
    width: 100%;
  margin: 0 auto;
  text-align: left;
    padding: 2.6%;
    
}
th,td
{
    padding: 15px;
}
tr:hover {background-color: #dddddda2;}
